.app {
    background: #a8d5e5;
}
.app h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
.app h2 {
    color: #165a72;
}
.sideBar-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.main-content {
    flex: 1;
    overflow-y: auto; /* Add vertical scrolling to the main content */
  }