.app {
    background: #a8d5e5;
}
.app h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
.app h2 {
    color: #165a72;
}
.sideBar-container{
    background-color: rgb(222, 222, 222);
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.main-content {
    flex: 1;
    overflow-y: auto; /* Add vertical scrolling to the main content */
  }

  /* Media Query for Mobile Devices */
@media (max-width: 480px) {
    
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px){
    
  }
  