body{
    text-align: center;
    align-items: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('https://wallpapercave.com/wp/wp7029319.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    /* margin:0 10% 0 10%; */
}
.home-container h1{
    color:white;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    margin:10% 0 0 0;
}
.home-container h3{
    color:white;
    text-align: center;
    align-items: center;
    margin:1% 0% 5% 0;
}

.search-bar{
    max-width: 50%;
    text-align: center;
    align-items: center;
    margin: auto;
}




